{
  "printWidth": 100,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ".github/**/*.md",
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
